/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Noto Sans TC", sans-serif;
}

.contanier {
  width: 940px;
  margin: 0 auto;
}

header {
  width: 940px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: block;
  width: auto;
  height: 40px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li a {
  display: block;
  color: #3F5D45;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  line-height: 24px;
  padding: 0 30px;
}

header ul li a:hover {
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
}

header ul li a img {
  display: block;
}

.banner {
  margin-bottom: 60px;
}

.banner img {
  display: block;
  margin: 0 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

main aside {
  width: 300px;
  font-size: 24px;
}

main aside h1 {
  padding: 16px 64px;
  text-align: center;
  background-color: #2C4832;
  color: #FFFFFF;
}

main aside li .active {
  background-color: #EAF0ED;
}

main aside li a {
  display: block;
  padding: 16px 64px;
  text-align: center;
  text-decoration: none;
  color: #2C4832;
  white-space: nowrap;
}

main section {
  width: 100%;
}

main section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section .card {
  margin: 0 0 20px 20px;
}

main section .card .image {
  position: relative;
}

main section .card .image .label {
  position: absolute;
  top: 0;
  left: 30px;
  padding: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 5px;
  line-height: 21.6px;
  color: #fff;
  font-size: 16px;
  background-color: #2C4832;
}

main section .card .image .favorite {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../img/favorite_border.png") no-repeat;
}

main section .card .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 20px;
  color: #2C4832;
  text-align: center;
}

main section .card .item .title {
  width: 173px;
  padding: 14px 0;
}

main section .card .item .price {
  width: 127px;
  padding: 14px 0;
}

main section .card .cart {
  font-size: 24px;
  padding: 16px 90px;
  color: #2C4832;
  background-color: #EAF0ED;
  border: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 10px 42px 60px 42px;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #dadada;
}

.pagination ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  padding: 16px 24px;
  color: #2C4832;
}

.pagination ul li .pg-left,
.pagination ul li .pg-right {
  padding: 18px;
}

.pagination ul li .pg-left img,
.pagination ul li .pg-right img {
  display: block;
}

.pagination ul .active {
  background-color: #2C4832;
}

.pagination ul .active a {
  pointer-events: none;
  color: #FFFFFF;
}

footer .email {
  padding: 30px 122px;
  background-color: #2C4832;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .email .email-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .email .email-title img {
  display: block;
  width: 40px;
  height: auto;
}

footer .email .email-title h3 {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
}

footer .email .email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

footer .email .email-input img {
  display: block;
  width: 24px;
  height: auto;
  padding: 16px 20px;
}

footer .email .email-input input {
  padding: 4px 0;
  border: none;
}

footer .email .email-input button {
  background-color: #FFE180;
  border: none;
  padding: 0;
}

footer .email .email-input button img {
  display: block;
  width: 24px;
  height: auto;
  padding: 16px 20px;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 122px;
  background-color: #EAF0ED;
}

footer .info .l-info {
  width: 230px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .info .l-info img {
  display: block;
  width: 171px;
  height: auto;
  margin-bottom: 116px;
}

footer .info .l-info a,
footer .info p {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "helvetica neue", sans-serif;
  font-size: 16px;
  color: #2C4832;
  font-weight: regular;
  text-align: center;
}

footer .info .l-info a:hover,
footer .info p:hover {
  color: #FFE180;
}

footer .info .l-info .social {
  display: block;
  margin: 30px 8px 0 0;
}

footer .info .l-info .social img {
  width: 32px;
  margin-bottom: 0px;
}

footer .info .r-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}

footer .info .r-info p {
  font-size: 28px;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  color: #2C4832;
  margin-left: 12px;
}

footer .info .r-info p:nth-child(2) {
  text-indent: 8px;
}

footer .info .r-info #copyright {
  margin-top: 59px;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
  font-size: 16px;
}
/*# sourceMappingURL=all.css.map */